
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds
build
dist
.rpt2_cache

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

lib/*.d.ts
lib/*.css
lib/hooks/*.js
lib/hooks/*.ts
lib/hooks/*.tsx
lib/utils/*.ts
lib/utils/*.tsx
lib/utils/*.js
/style.css
lib/react-sheet-slide.cjs
lib/react-sheet-slide.dev.cjs
lib/react-sheet-slide.dev.js
lib/react-sheet-slide.js
coverage
