
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds
build
dist
.rpt2_cache

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

lib/react-swipe-sheet.dev.js
lib/react-swipe-sheet.dev.mjs
lib/react-swipe-sheet.js
lib/react-swipe-sheet.mjs
lib/index.d.ts
