
body.sheet-open {
  background: #000;
  max-width: 100vw;
}

body[style].sheet-open {
  padding-right: 0px !important;
}

:global(.rss-backdrop) {
  clip-path: inset(calc(4.7vh * var(--down, 0) + var(--scroll)) 0px 0% 0px round var(--round, 0px));
  transform: scale(var(--scale, 1));
  overflow-y: hidden;
  filter: contrast(var(--dim, 1));
  padding-top: calc(4.7vh * var(--down, 0));
  transform-origin: center var(--scroll, 0);
}

.dark-root {
  --background: #1c1c1e;
  --background-header: #242426db;
  --background-footer: #2e2e2e;
  --handle: #424245;
  --border: #444447;
}

.light-root {
  --background: #f7f8f8;
  --background-header: #f2f2f6e8;
  --background-footer: #efefef;
  --handle: #dbdbde;
  --border: #dbdbde;
}

.modal-root {
  --backdrop: rgba(0, 0, 0, 0.6);
}

.sheet-root {
  --backdrop: rgba(0, 0, 0, 0);
}

.sheet-root, .modal-root {
  --gutter: 0px;
  --width: auto;
  --radius: 12px;

  --height: 0px;
  --modal-offset: 0px;
  --bottom-height: 0px;
  --backdrop-opacity: 0;

  --padding: 32px;
  --drag-padding: 16px;
}


.modal-header,
.modal-footer,
.sheet-header,
.sheet-footer {
  flex-shrink: 0;
  padding: var(--drag-padding);
}

.modal-root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
}

.sheet-stack, .modal-stack, .sheet-modal:after {
  z-index: 3;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.sheet-stack, .sheet-modal:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
}

.sheet-backdrop, .modal-backdrop {
  background-color: var(--backdrop);
  top: 0;
}

.sheet-backdrop {
  opacity: var(--backdrop-opacity);
}

.modal-modal, .sheet-modal {
  outline: 0;
}

.modal-modal {
  max-height: calc(100% - var(--padding) * 2);
  max-width: var(--modal-width, 492px);
  border-radius: var(--radius);
  display: flex;
  background: var(--background);
  flex-direction: column;
  inset: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.sheet-modal {
  max-width: var(--width);
  margin: auto calc(var(--gutter) + env(safe-area-inset-right)) auto calc(var(--gutter) + env(safe-area-inset-left));
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: flex;
  background: var(--background);
  flex-direction: column;
  height: var(--height);
  transform: translate3d(-50%, var(--modal-offset), 0);
  will-change: height;
  width: 100%;
  left: 50%;
  right: unset;
}

.sheet-modal:focus {
  outline: none;
}

.sheet-modal:after {
  content: '';
  pointer-events: none;
  background: var(--background-footer);
  height: 1px;
  transform-origin: top;
  transform: scaleY(0);
  transform: scaleY(var(--bottom-height, 0));
  will-change: transform;
}

.sheet-header, .modal-header {
  z-index: 1;
  user-select: none;
  padding-top: calc(12px + env(safe-area-inset-top));
  padding-bottom: 12px;
  box-shadow: 0 1px 0 var(--border);

  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background-color: var(--background-header);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 300;
  position: absolute;
  width: 100%;
  transition: background-color .5s cubic-bezier(.28,.11,.32,1) 0s, box-shadow .5s cubic-bezier(.28,.11,.32,1) 0s;
}

.sheet-header-plain, .modal-header-plain {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
}

.modal-handle {
  display: none;
}

.sheet-handle {
  position: absolute;
  content: '';
  display: block;
  width: 36px;
  height: 6px;
  top: calc(5px + env(safe-area-inset-top));
  left: 50%;
  transform: translateX(-50%);
  color: var(--handle);
}

.sheet-scroll {
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.sheet-scroll, .modal-scroll {
  flex-shrink: 1;
  flex-grow: 1;
  -webkit-tap-highlight-color: revert;
  -webkit-touch-callout: revert;
  overflow: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  background: var(--background);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.sheet-content, .modal-content {
  overflow: hidden;
}

.sheet-footer, .modal-footer {
  z-index: 1;
  overflow: hidden;
  padding-bottom: calc(16px + env(safe-area-inset-bottom));
  box-shadow: 0 -1px 0 var(--border);
  background: var(--background-footer);
}

.sheet-header,
.sheet-footer {
  cursor: ns-resize;
  touch-action: none;
}

.sheet-scroll {
  touch-action: pan-y;
}
