@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  overscroll-behavior-y: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family: var(--font-title);
  background: var(--color-background);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

code {
  font-family: var(--font-code);
}

#__next {
  isolation: isolate;
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  background: var(--color-selection) !important;
}

::-moz-selection {
  background: var(--color-selection) !important;
}

@layer base {
  :root {
    color-scheme: light;

    --font-title: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-code: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;


    --color-background: #f2f2f6;
    --color-selection: rgba(0, 40, 255, 0.3);
    --color-tab-background: #e8e8e8;
    --color-tab-active: #feffff;


    --color-white: 255 255 255;
    --color-black: 0 0 0;
    --color-slate-50: 248 250 252;
    --color-slate-100: 241 245 249;
    --color-slate-200: 226 232 240;
    --color-slate-300: 203 213 225;
    --color-slate-400: 148 163 184;
    --color-slate-500: 100 116 139;
    --color-slate-600: 71 85 105;
    --color-slate-700: 51 65 85;
    --color-slate-800: 30 41 59;
    --color-slate-900: 15 23 42;
    --color-slate-950: 2 6 23;
    --color-gray-50: 249 250 251;
    --color-gray-100: 243 244 246;
    --color-gray-200: 229 231 235;
    --color-gray-300: 209 213 219;
    --color-gray-400: 156 163 175;
    --color-gray-500: 107 114 128;
    --color-gray-600: 75 85 99;
    --color-gray-700: 55 65 81;
    --color-gray-800: 31 41 55;
    --color-gray-900: 17 24 39;
    --color-gray-950: 3 7 18;
    --color-zinc-50: 250 250 250;
    --color-zinc-100: 244 244 245;
    --color-zinc-200: 228 228 231;
    --color-zinc-300: 212 212 216;
    --color-zinc-400: 161 161 170;
    --color-zinc-500: 113 113 122;
    --color-zinc-600: 82 82 91;
    --color-zinc-700: 63 63 70;
    --color-zinc-800: 39 39 42;
    --color-zinc-900: 24 24 27;
    --color-zinc-950: 9 9 11;
    --color-neutral-50: 250 250 250;
    --color-neutral-100: 245 245 245;
    --color-neutral-200: 229 229 229;
    --color-neutral-300: 212 212 212;
    --color-neutral-400: 163 163 163;
    --color-neutral-500: 115 115 115;
    --color-neutral-600: 82 82 82;
    --color-neutral-700: 64 64 64;
    --color-neutral-800: 38 38 38;
    --color-neutral-900: 23 23 23;
    --color-neutral-950: 10 10 10;
    --color-stone-50: 250 250 249;
    --color-stone-100: 245 245 244;
    --color-stone-200: 231 229 228;
    --color-stone-300: 214 211 209;
    --color-stone-400: 168 162 158;
    --color-stone-500: 120 113 108;
    --color-stone-600: 87 83 78;
    --color-stone-700: 68 64 60;
    --color-stone-800: 41 37 36;
    --color-stone-900: 28 25 23;
    --color-stone-950: 12 10 9;
    --color-red-50: 254 242 242;
    --color-red-100: 254 226 226;
    --color-red-200: 254 202 202;
    --color-red-300: 252 165 165;
    --color-red-400: 248 113 113;
    --color-red-500: 239 68 68;
    --color-red-600: 220 38 38;
    --color-red-700: 185 28 28;
    --color-red-800: 153 27 27;
    --color-red-900: 127 29 29;
    --color-red-950: 69 10 10;
    --color-orange-50: 255 247 237;
    --color-orange-100: 255 237 213;
    --color-orange-200: 254 215 170;
    --color-orange-300: 253 186 116;
    --color-orange-400: 251 146 60;
    --color-orange-500: 249 115 22;
    --color-orange-600: 234 88 12;
    --color-orange-700: 194 65 12;
    --color-orange-800: 154 52 18;
    --color-orange-900: 124 45 18;
    --color-orange-950: 67 20 7;
    --color-amber-50: 255 251 235;
    --color-amber-100: 254 243 199;
    --color-amber-200: 253 230 138;
    --color-amber-300: 252 211 77;
    --color-amber-400: 251 191 36;
    --color-amber-500: 245 158 11;
    --color-amber-600: 217 119 6;
    --color-amber-700: 180 83 9;
    --color-amber-800: 146 64 14;
    --color-amber-900: 120 53 15;
    --color-amber-950: 69 26 3;
    --color-yellow-50: 254 252 232;
    --color-yellow-100: 254 249 195;
    --color-yellow-200: 254 240 138;
    --color-yellow-300: 253 224 71;
    --color-yellow-400: 250 204 21;
    --color-yellow-500: 234 179 8;
    --color-yellow-600: 202 138 4;
    --color-yellow-700: 161 98 7;
    --color-yellow-800: 133 77 14;
    --color-yellow-900: 113 63 18;
    --color-yellow-950: 66 32 6;
    --color-lime-50: 247 254 231;
    --color-lime-100: 236 252 203;
    --color-lime-200: 217 249 157;
    --color-lime-300: 190 242 100;
    --color-lime-400: 163 230 53;
    --color-lime-500: 132 204 22;
    --color-lime-600: 101 163 13;
    --color-lime-700: 77 124 15;
    --color-lime-800: 63 98 18;
    --color-lime-900: 54 83 20;
    --color-lime-950: 26 46 5;
    --color-green-50: 240 253 244;
    --color-green-100: 220 252 231;
    --color-green-200: 187 247 208;
    --color-green-300: 134 239 172;
    --color-green-400: 74 222 128;
    --color-green-500: 34 197 94;
    --color-green-600: 22 163 74;
    --color-green-700: 21 128 61;
    --color-green-800: 22 101 52;
    --color-green-900: 20 83 45;
    --color-green-950: 5 46 22;
    --color-emerald-50: 236 253 245;
    --color-emerald-100: 209 250 229;
    --color-emerald-200: 167 243 208;
    --color-emerald-300: 110 231 183;
    --color-emerald-400: 52 211 153;
    --color-emerald-500: 16 185 129;
    --color-emerald-600: 5 150 105;
    --color-emerald-700: 4 120 87;
    --color-emerald-800: 6 95 70;
    --color-emerald-900: 6 78 59;
    --color-emerald-950: 2 44 34;
    --color-teal-50: 240 253 250;
    --color-teal-100: 204 251 241;
    --color-teal-200: 153 246 228;
    --color-teal-300: 94 234 212;
    --color-teal-400: 45 212 191;
    --color-teal-500: 20 184 166;
    --color-teal-600: 13 148 136;
    --color-teal-700: 15 118 110;
    --color-teal-800: 17 94 89;
    --color-teal-900: 19 78 74;
    --color-teal-950: 4 47 46;
    --color-cyan-50: 236 254 255;
    --color-cyan-100: 207 250 254;
    --color-cyan-200: 165 243 252;
    --color-cyan-300: 103 232 249;
    --color-cyan-400: 34 211 238;
    --color-cyan-500: 6 182 212;
    --color-cyan-600: 8 145 178;
    --color-cyan-700: 14 116 144;
    --color-cyan-800: 21 94 117;
    --color-cyan-900: 22 78 99;
    --color-cyan-950: 8 51 68;
    --color-sky-50: 240 249 255;
    --color-sky-100: 224 242 254;
    --color-sky-200: 186 230 253;
    --color-sky-300: 125 211 252;
    --color-sky-400: 56 189 248;
    --color-sky-500: 14 165 233;
    --color-sky-600: 2 132 199;
    --color-sky-700: 3 105 161;
    --color-sky-800: 7 89 133;
    --color-sky-900: 12 74 110;
    --color-sky-950: 8 47 73;
    --color-blue-50: 239 246 255;
    --color-blue-100: 219 234 254;
    --color-blue-200: 191 219 254;
    --color-blue-300: 147 197 253;
    --color-blue-400: 96 165 250;
    --color-blue-500: 59 130 246;
    --color-blue-600: 37 99 235;
    --color-blue-700: 29 78 216;
    --color-blue-800: 30 64 175;
    --color-blue-900: 30 58 138;
    --color-blue-950: 23 37 84;
    --color-indigo-50: 238 242 255;
    --color-indigo-100: 224 231 255;
    --color-indigo-200: 199 210 254;
    --color-indigo-300: 165 180 252;
    --color-indigo-400: 129 140 248;
    --color-indigo-500: 99 102 241;
    --color-indigo-600: 79 70 229;
    --color-indigo-700: 67 56 202;
    --color-indigo-800: 55 48 163;
    --color-indigo-900: 49 46 129;
    --color-indigo-950: 30 27 75;
    --color-violet-50: 245 243 255;
    --color-violet-100: 237 233 254;
    --color-violet-200: 221 214 254;
    --color-violet-300: 196 181 253;
    --color-violet-400: 167 139 250;
    --color-violet-500: 139 92 246;
    --color-violet-600: 124 58 237;
    --color-violet-700: 109 40 217;
    --color-violet-800: 91 33 182;
    --color-violet-900: 76 29 149;
    --color-violet-950: 46 16 101;
    --color-purple-50: 250 245 255;
    --color-purple-100: 243 232 255;
    --color-purple-200: 233 213 255;
    --color-purple-300: 216 180 254;
    --color-purple-400: 192 132 252;
    --color-purple-500: 168 85 247;
    --color-purple-600: 147 51 234;
    --color-purple-700: 126 34 206;
    --color-purple-800: 107 33 168;
    --color-purple-900: 88 28 135;
    --color-purple-950: 59 7 100;
    --color-fuchsia-50: 253 244 255;
    --color-fuchsia-100: 250 232 255;
    --color-fuchsia-200: 245 208 254;
    --color-fuchsia-300: 240 171 252;
    --color-fuchsia-400: 232 121 249;
    --color-fuchsia-500: 217 70 239;
    --color-fuchsia-600: 192 38 211;
    --color-fuchsia-700: 162 28 175;
    --color-fuchsia-800: 134 25 143;
    --color-fuchsia-900: 112 26 117;
    --color-fuchsia-950: 74 4 78;
    --color-pink-50: 253 242 248;
    --color-pink-100: 252 231 243;
    --color-pink-200: 251 207 232;
    --color-pink-300: 249 168 212;
    --color-pink-400: 244 114 182;
    --color-pink-500: 236 72 153;
    --color-pink-600: 219 39 119;
    --color-pink-700: 190 24 93;
    --color-pink-800: 157 23 77;
    --color-pink-900: 131 24 67;
    --color-pink-950: 80 7 36;
    --color-rose-50: 255 241 242;
    --color-rose-100: 255 228 230;
    --color-rose-200: 254 205 211;
    --color-rose-300: 253 164 175;
    --color-rose-400: 251 113 133;
    --color-rose-500: 244 63 94;
    --color-rose-600: 225 29 72;
    --color-rose-700: 190 18 60;
    --color-rose-800: 159 18 57;
    --color-rose-900: 136 19 55;
    --color-rose-950: 76 5 25;
  }

  .dark {
    color-scheme: dark;

    --color-background: #070708;
    --color-selection: rgba(47, 76, 232, 0.77);
    --color-tab-background: #313136;
    --color-tab-active: #69696f;

    --color-black: 255 255 255;
    --color-white: 0 0 0;
    --color-slate-950: 243 245 247;
    --color-slate-900: 234 238 242;
    --color-slate-800: 218 224 231;
    --color-slate-700: 185 194 205;
    --color-slate-600: 134 147 166;
    --color-slate-500: 81 93 110;
    --color-slate-400: 49 56 68;
    --color-slate-300: 32 38 46;
    --color-slate-200: 23 26 32;
    --color-slate-100: 19 21 26;
    --color-slate-50: 17 18 20;
    --color-gray-950: 244 245 246;
    --color-gray-900: 236 237 239;
    --color-gray-800: 221 223 226;
    --color-gray-700: 190 194 199;
    --color-gray-600: 141 147 158;
    --color-gray-500: 86 91 102;
    --color-gray-400: 51 56 64;
    --color-gray-300: 34 38 44;
    --color-gray-200: 23 26 31;
    --color-gray-100: 19 21 25;
    --color-gray-50: 17 18 20;
    --color-zinc-950: 245 245 245;
    --color-zinc-900: 237 237 238;
    --color-zinc-800: 220 220 223;
    --color-zinc-700: 193 193 196;
    --color-zinc-600: 145 145 154;
    --color-zinc-500: 91 91 98;
    --color-zinc-400: 55 55 60;
    --color-zinc-300: 37 37 40;
    --color-zinc-200: 26 26 27;
    --color-zinc-100: 21 21 22;
    --color-zinc-50: 18 18 19;
    --color-neutral-950: 245 245 245;
    --color-neutral-900: 238 238 238;
    --color-neutral-800: 221 221 221;
    --color-neutral-700: 193 193 193;
    --color-neutral-600: 147 147 147;
    --color-neutral-500: 92 92 92;
    --color-neutral-400: 55 55 55;
    --color-neutral-300: 38 38 38;
    --color-neutral-200: 25 25 25;
    --color-neutral-100: 21 21 21;
    --color-neutral-50: 19 19 19;
    --color-stone-950: 245 245 244;
    --color-stone-900: 238 238 237;
    --color-stone-800: 223 221 220;
    --color-stone-700: 195 192 190;
    --color-stone-600: 152 146 143;
    --color-stone-500: 96 91 87;
    --color-stone-400: 58 55 52;
    --color-stone-300: 39 38 36;
    --color-stone-200: 26 25 25;
    --color-stone-100: 22 21 21;
    --color-stone-50: 19 19 18;
    --color-red-950: 249 238 238;
    --color-red-900: 247 220 220;
    --color-red-800: 245 195 195;
    --color-red-700: 229 151 151;
    --color-red-600: 223 103 103;
    --color-red-500: 186 56 56;
    --color-red-400: 132 30 30;
    --color-red-300: 86 23 23;
    --color-red-200: 60 22 22;
    --color-red-100: 49 22 22;
    --color-red-50: 27 19 19;
    --color-orange-950: 250 242 233;
    --color-orange-900: 248 230 207;
    --color-orange-800: 245 207 164;
    --color-orange-700: 230 169 106;
    --color-orange-600: 226 132 56;
    --color-orange-500: 194 92 22;
    --color-orange-400: 140 58 16;
    --color-orange-300: 90 38 17;
    --color-orange-200: 60 30 19;
    --color-orange-100: 48 27 19;
    --color-orange-50: 27 20 18;
    --color-amber-950: 250 246 231;
    --color-amber-900: 247 236 194;
    --color-amber-800: 244 222 133;
    --color-amber-700: 229 192 71;
    --color-amber-600: 226 172 34;
    --color-amber-500: 191 125 13;
    --color-amber-400: 130 75 12;
    --color-amber-300: 84 45 16;
    --color-amber-200: 58 33 18;
    --color-amber-100: 47 29 19;
    --color-amber-50: 27 21 17;
    --color-yellow-950: 249 247 228;
    --color-yellow-900: 247 242 190;
    --color-yellow-800: 245 231 133;
    --color-yellow-700: 230 204 66;
    --color-yellow-600: 225 184 21;
    --color-yellow-500: 183 141 11;
    --color-yellow-400: 122 86 11;
    --color-yellow-300: 76 51 15;
    --color-yellow-200: 54 37 18;
    --color-yellow-100: 45 32 19;
    --color-yellow-50: 27 22 18;
    --color-lime-950: 242 249 227;
    --color-lime-900: 230 245 198;
    --color-lime-800: 209 240 152;
    --color-lime-700: 173 220 92;
    --color-lime-600: 147 207 49;
    --color-lime-500: 105 160 22;
    --color-lime-400: 65 100 16;
    --color-lime-300: 43 62 18;
    --color-lime-200: 33 43 19;
    --color-lime-100: 29 37 20;
    --color-lime-50: 21 24 18;
    --color-green-950: 236 248 240;
    --color-green-900: 214 245 225;
    --color-green-800: 180 238 200;
    --color-green-700: 123 217 157;
    --color-green-600: 68 200 116;
    --color-green-500: 31 155 76;
    --color-green-400: 21 100 50;
    --color-green-300: 20 63 36;
    --color-green-200: 21 44 30;
    --color-green-100: 20 37 27;
    --color-green-50: 18 24 20;
    --color-emerald-950: 232 248 241;
    --color-emerald-900: 203 243 223;
    --color-emerald-800: 161 234 200;
    --color-emerald-700: 101 210 167;
    --color-emerald-600: 48 190 138;
    --color-emerald-500: 17 145 103;
    --color-emerald-400: 12 93 68;
    --color-emerald-300: 14 60 47;
    --color-emerald-200: 16 43 35;
    --color-emerald-100: 16 36 31;
    --color-emerald-50: 17 24 22;
    --color-teal-950: 236 248 245;
    --color-teal-900: 198 244 234;
    --color-teal-800: 148 237 220;
    --color-teal-700: 87 213 193;
    --color-teal-600: 42 191 172;
    --color-teal-500: 20 145 131;
    --color-teal-400: 16 92 85;
    --color-teal-300: 18 59 56;
    --color-teal-200: 19 42 41;
    --color-teal-100: 20 36 35;
    --color-teal-50: 18 24 24;
    --color-cyan-950: 232 249 250;
    --color-cyan-900: 201 243 247;
    --color-cyan-800: 159 234 243;
    --color-cyan-700: 95 211 226;
    --color-cyan-600: 32 190 214;
    --color-cyan-500: 9 143 166;
    --color-cyan-400: 13 90 108;
    --color-cyan-300: 18 58 70;
    --color-cyan-200: 20 42 49;
    --color-cyan-100: 21 36 41;
    --color-cyan-50: 18 25 27;
    --color-sky-950: 236 244 250;
    --color-sky-900: 218 235 247;
    --color-sky-800: 179 222 244;
    --color-sky-700: 115 192 229;
    --color-sky-600: 52 170 223;
    --color-sky-500: 15 130 182;
    --color-sky-400: 10 83 120;
    --color-sky-300: 13 54 76;
    --color-sky-200: 16 41 54;
    --color-sky-100: 18 35 44;
    --color-sky-50: 18 24 28;
    --color-blue-950: 235 241 250;
    --color-blue-900: 213 228 247;
    --color-blue-800: 184 211 245;
    --color-blue-700: 134 179 230;
    --color-blue-600: 88 149 225;
    --color-blue-500: 50 104 192;
    --color-blue-400: 30 64 140;
    --color-blue-300: 24 43 98;
    --color-blue-200: 23 33 67;
    --color-blue-100: 23 30 52;
    --color-blue-50: 20 23 30;
    --color-indigo-950: 234 238 250;
    --color-indigo-900: 218 225 248;
    --color-indigo-800: 192 202 245;
    --color-indigo-700: 151 164 229;
    --color-indigo-600: 117 127 223;
    --color-indigo-500: 80 82 188;
    --color-indigo-400: 53 48 137;
    --color-indigo-300: 39 34 93;
    --color-indigo-200: 31 28 63;
    --color-indigo-100: 28 27 49;
    --color-indigo-50: 22 21 28;
    --color-violet-950: 241 239 250;
    --color-violet-900: 230 227 247;
    --color-violet-800: 213 206 245;
    --color-violet-700: 178 165 230;
    --color-violet-600: 151 126 225;
    --color-violet-500: 110 75 192;
    --color-violet-400: 78 41 142;
    --color-violet-300: 56 28 99;
    --color-violet-200: 41 24 69;
    --color-violet-100: 35 22 55;
    --color-violet-50: 24 19 32;
    --color-purple-950: 245 241 250;
    --color-purple-900: 236 226 248;
    --color-purple-800: 224 205 246;
    --color-purple-700: 196 164 231;
    --color-purple-600: 173 120 226;
    --color-purple-500: 132 69 193;
    --color-purple-400: 91 37 140;
    --color-purple-300: 62 26 94;
    --color-purple-200: 46 24 64;
    --color-purple-100: 38 22 51;
    --color-purple-50: 26 18 32;
    --color-fuchsia-950: 248 240 250;
    --color-fuchsia-900: 243 226 248;
    --color-fuchsia-800: 236 200 245;
    --color-fuchsia-700: 218 156 229;
    --color-fuchsia-600: 209 110 224;
    --color-fuchsia-500: 170 58 186;
    --color-fuchsia-400: 116 30 127;
    --color-fuchsia-300: 77 23 82;
    --color-fuchsia-200: 54 22 57;
    --color-fuchsia-100: 45 22 46;
    --color-fuchsia-50: 28 18 29;
    --color-pink-950: 248 238 243;
    --color-pink-900: 245 225 236;
    --color-pink-800: 242 200 224;
    --color-pink-700: 226 153 193;
    --color-pink-600: 219 104 164;
    --color-pink-500: 184 60 121;
    --color-pink-400: 131 31 75;
    --color-pink-300: 88 22 49;
    --color-pink-200: 61 21 37;
    --color-pink-100: 50 21 33;
    --color-pink-50: 29 18 22;
    --color-rose-950: 250 237 238;
    --color-rose-900: 248 222 224;
    --color-rose-800: 245 198 203;
    --color-rose-700: 230 150 160;
    --color-rose-600: 226 103 121;
    --color-rose-500: 190 53 76;
    --color-rose-400: 135 25 49;
    --color-rose-300: 88 19 36;
    --color-rose-200: 62 19 31;
    --color-rose-100: 51 20 29;
    --color-rose-50: 28 18 21;
  }

  @media (prefers-color-scheme: dark) {
    .system {
      @apply dark
    }
  }
}

@layer utilities {
  @supports (min-height: 100svh) {
    .min-h-screen {
      min-height: 100svh;
    }
  }
  @supports (max-height: 100dvh) {
    .max-h-screen {
      max-height: 100dvh;
    }
  }
}
